// Colors

// MAIN
$color-black: #001427;

$color-black-opacity-9: #001427e5;
$color-black-opacity-5: #00142780;
$color-black-opacity-3: #0014274d;
$color-black-opacity-2: #00142733;
$color-black-opacity-1: #0014271a;

$color-white: #ffffff;

$color-white-opacity-9: #fff;
$color-white-opacity-8: #ffffffcc;
$color-white-opacity-5: #ffffff80;
$color-white-opacity-3: #ffffff4d;
$color-white-opacity-2: #ffffff33;
$color-white-opacity-1: #ffffff1a;

// primary
$color-primary-100: #1db9c3;
$color-primary-90: #4ac7cf;
$color-primary-80: #77d5db;

$color-primary-opacity-9: #1db9c3e5;
$color-primary-opacity-5: #1db9c380;
$color-primary-opacity-3: #1db9c34d;
$color-primary-opacity-2: #1db9c333;
$color-primary-opacity-1: #1db9c31a;

// secondary
$color-secondary-100: #1d95c9;
$color-secondary-90: #4aaad4;
$color-secondary-80: #77bfdf;

$color-secondary-opacity-9: #1d95c9e5;
$color-secondary-opacity-5: #1d95c980;
$color-secondary-opacity-3: #1d95c94d;
$color-secondary-opacity-2: #1d95c933;
$color-secondary-opacity-1: #0c4a4e1a;

// gray
$color-grey-100: #38444c;
$color-grey-90: #4e5f6a;
$color-grey-80: #5f7481;
$color-grey-70: #8a9ca8;
$color-grey-60: #a1b0ba;
$color-grey-50: #b9c4cb;
$color-grey-40: #d0d7dc;
$color-grey-30: #e8ebee;
$color-grey-20: #f3f5f6;
$color-grey-10: #fafcfd;

$color-grey-opacity-9: #38444ce5;
$color-grey-opacity-5: #38444c80;
$color-grey-opacity-3: #38444c4d;
$color-grey-opacity-2: #38444c33;
$color-grey-opacity-1: #38444c1a;

// green
$color-green-100: #59a525;
$color-green-90: #62b529;
$color-green-80: #6cc82d;

$color-green-opacity-9: #59a525e5;
$color-green-opacity-5: #59a52580;
$color-green-opacity-3: #59a5254d;
$color-green-opacity-2: #59a52533;
$color-green-opacity-1: #59a5251a;

// orange
$color-orange-100: #e6883c;
$color-orange-90: #f49040;
$color-orange-80: #ff9943;

$color-orange-opacity-9: #e6883ce5;
$color-orange-opacity-5: #e6883c80;
$color-orange-opacity-3: #e6883c4d;
$color-orange-opacity-2: #e6883c33;
$color-orange-opacity-1: #e6883c1a;

// danger
$color-danger-100: #da4131;
$color-danger-90: #f94a38;
$color-danger-80: #ff5440;

$color-danger-opacity-9: #da4131e5;
$color-danger-opacity-5: #da413180;
$color-danger-opacity-3: #da41314d;
$color-danger-opacity-2: #da413133;
$color-danger-opacity-1: #da41311a;
$color-danger-opacity-05: #da41310d;
