// Fonts
$default-font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial,
  sans-serif;

$default-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;
