// BOX SHADOW

$shadow-small: 0 2px 14px #6565651a;
$shadow-medium-25: 0 3px 25px #38444c1f;
$shadow-medium-20: 0 4px 20px #6565651f;
$shadow-big: 0 4px 50px #65656540;
$shadow-only-top: 0 -10px 20px -5px #7272721f;
$shadow-bottom: 0 24px 70px #65656552;
